

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  margin-bottom: 0px;
}
/*Navbar Container*/
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: 'Montserrat', sans-serif;
}

/*Links Inside Navbar*/
.navbar a {
  float: left;
  font-size: 16px;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*dropdown container*/
.dropdown {
  float: left;
  overflow: hidden;
}

/*dropdown button*/
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #EA982D;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}





h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  margin: 0 0 20 0;

}

.fangboar, .designs {
  text-align: center;
}

.designs {
  letter-spacing: 0.65em;
}
.fangboar {
  letter-spacing: 0.23em;
}

p {
  font-family: sans-serif;
  text-align: left;
  align-content: center;
}

